<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h4>Select Banks:</h4>
      <ul id="available-banks">
     <% @banks= ["Dip_1","Dip_2","Dip_3","Dip_4","Dip_5","Dip_6","Dip_7","Dip_8","Dip_9","Dip_10"] %>

        <% @banks.each do |bank| %>
          <li>
            <%= check_box_tag 'selected_banks[]', bank, false, class: 'bank-checkbox' %>
            <%= bank %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6">
      <h4>Selected Banks:</h4>
      <ul id="selected-banks">
        <!-- Selected banks will be added here -->
      </ul>
    </div>
  </div>
</div>


<script>
document.addEventListener('DOMContentLoaded', function() {
  const availableBanksList = document.getElementById('available-banks');
  const selectedBanksList = document.getElementById('selected-banks');

  availableBanksList.addEventListener('change', function(event) {
    if (event.target.classList.contains('bank-checkbox') && event.target.checked) {
      const bankItem = event.target.closest('li');
      const clone = bankItem.cloneNode(true);
      selectedBanksList.appendChild(clone);
      bankItem.remove();
      event.target.checked = false;
    }
  });

  selectedBanksList.addEventListener('change', function(event) {
    if (event.target.classList.contains('bank-checkbox') && !event.target.checked) {
      const bankItem = event.target.closest('li');
      const clone = bankItem.cloneNode(true);
      availableBanksList.appendChild(clone);
      bankItem.remove();
      event.target.checked = false;
    }
  });
});
</script>















<div class="d-flex align-items-center justify-content-center p-1">
  <%= form_with(url: "/customeradd_cust", method: "post", id: "mainForm") do |form| %>
    <div class="row mt-2">
      <div class="container mt-5">
        <div class="border p-3">
          <h5>Select Scheme:</h5>
          <%= select_tag "schemeSelect", options_for_select([["Days", "days"], ["Months", "months"], ["Years", "years"]]), class: "form-select mb-3" %>
          
          <div id="planList" style="display: none;">
            <h5>Select Plans:</h5>
            <!-- Replace this with actual plan data from your database -->
            <% @plans = [["dip 1"],["dip 2"],["dip 3"],["dip 4"],["dip 5"],["dip 6"]] %>
            <% @plans.each do |plan| %>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="<%= plan %>" name="selected_plans[]" value="<%= plan %>">
                <label class="form-check-label" for="<%= plan %>"><%= plan %></label>
              </div>
            <% end %>
            <!-- Add more plan checkboxes as needed -->
    
            <button id="addPlansBtn" type="button" class="btn btn-primary mt-3">Add Plan</button>
          </div>
          
          <div id="selectedPlansContainer" class="mt-3" style="display: none;">
            <h5>Selected Plans:</h5>
            <div class="border p-3">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 10%">Sr. No.</th>
                    <th style="width: 60%">Selected Plan</th>
                    <th style="width: 30%">Actions</th>
                  </tr>
                </thead>
                <tbody id="selectedPlansTableBody">
                  <!-- Selected plans will be added here dynamically -->
                </tbody>
              </table>
            </div>
          </div>
          
          <button id="submitButton" type="submit" class="btn btn-success mt-3" style="display: none;">Submit Form</button>
        </div>
      </div>
    </div>
  <% end %>
</div>



<script>
  $(document).ready(function() {
    var selectedPlans = [];
   
    $('#schemeSelect').on('change', function() {
      if ($(this).val() !== '') {
        $('#planList').show();
      } else {
        $('#planList').hide();
      }
    });
   
    var selectedPlansCount = 0;
   
    $('#addPlansBtn').on('click', function() {
      $('input[type=checkbox]:checked').each(function(index) {
        var planName = $(this).val();
        selectedPlansCount++;
        selectedPlans.push(planName);
        var row = `
          <tr>
            <td>${selectedPlansCount}</td>
            <td>${planName}</td>
            <td>
              <button class="btn btn-primary btn-sm">Edit</button>
              <button class="btn btn-danger btn-sm">Delete</button>
            </td>
          </tr>`;
        $('#selectedPlansTableBody').append(row);
      });
   
      $('#selectedPlansContainer').show();
      $('#submitButton').show(); 
    });
   
    $('#mainForm').on('submit', function() {
      // Add the selected plans data as a hidden field
      $('<input>').attr({
        type: 'hidden',
        name: 'selected_plans_data',
        value: JSON.stringify(selectedPlans)
      }).appendTo('#mainForm');
    });
  });
</script>
