
     <div class="main-dash">
          <h2 class="dash-title"> Adv Creativity</h2>
          <hr>
          <div class="sub-links">
          <%= link_to "Creativity List" ,"/creativity_index" %>
          <%= link_to "Creativity Progress","/creativity_progress"%>
          <%= link_to "Export Publishing","/export_publishing" %>
          <%= link_to "Design Graphics ", "/design_graphics" %>
          <%= link_to "Dept Collaboration","/dept_Collaboration" %>
          </div>
     </div>
</section>
