

     <div class="main-dash">
          <h2 class="dash-title">Master Configuration</h2>
          <hr>
          <div class="sub-links">

          <%#= link_to 'Home', home_path, id: 'home-link' %>
       
         <%= link_to 'Media Asset', media_asset_path , id: 'media_asset' %>
         <%#= link_to 'Media Channel', adv_channel_path , id: 'roles' %>

         <%= link_to 'Pricing', pricing_index_path , id: 'pricing' %>
         <%= link_to 'Department', department_path , id: 'department' %>
         <%= link_to 'Adv Channel', channel_index_path , id: 'adv_channel' %>
         <%= link_to 'Roles', roles_path , id: 'roles' %>


          </div>
     </div>
    



